.mod {
  background: #012010;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 991px) {
    padding: 35px;
    align-items: flex-start;
  }
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border-radius: 32px;
  color: #131313;
}

.title {
  background: linear-gradient(90deg, #fffffe 50%, #8ac2a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  line-height: normal;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

.inputGroup input,
.inputGroup select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.calculateButton {
  padding: 16px;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  color: #fff;
  font-size: 24px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 16px;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border: 1px solid #54f8a1;
  background: linear-gradient(90deg, #0ecd65 0%, #009e49 100%);
}

.calculateButton:hover {
  background-color: #0056b3;
}
.calculateButton:disabled {
  position: none;
  opacity: 0.5;
  cursor: default;
}

.shareButton {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shareButton:hover {
  background-color: #218838;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
  font-size: 14px;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 12px;
}

.table td:first-child,
.table th:first-child {
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.splitView {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 991px) {
    flex-direction: column;
  }
  .switch {
    display: block;
    .inputSwitch {
      display: inline-flex;
      position: relative;
      padding: 8px;
      border: solid 1px #ddd;
      border-radius: 80px;
      &::before {
        content: "";
        position: absolute;
        width: 150px;
        border: 1px solid #353535;
        background: linear-gradient(90deg, #000000 0%, #353535 100%);
        height: calc(100% - 32px);
        top: 8px;
        left: 8px;
        height: 40px;
        border-radius: 32px;
        transition: all 0.35s;
      }
      > span {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;
        width: 150px;
        height: 40px;
        text-align: center;
        border-radius: 32px;
        cursor: pointer;
        transition: all 0.3s;
        &.active {
          color: #fff;
          text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        }
      }
    }
    input {
      opacity: 0;
      position: absolute;
      left: -99999999px;
      &:checked ~ .inputSwitch {
        &::before {
          left: calc(150px + 8px);
        }
      }
    }
  }
  > div {
    width: calc(40% - 32px / 2);
    min-width: calc(40% - 32px / 2);
    @media screen and (max-width: 991px) {
      width: 90%;
    }
  }
  .emiCalc {
    border-radius: 32px;
    color: #fff;
    border: solid 1px #00a74d;
    background: linear-gradient(140deg, #068540 -3.16%, #003919 100%);
    padding: 20px;
  }
  .resultToggle {
    width: calc(60% - 32px / 2);
    @media screen and (max-width: 991px) {
      width: 100%;
    }
    padding: 30px 0;
    height: 67;
    h3 {
      margin-bottom: 8px;
      &.apart {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 8px;
        justify-content: space-between;
        button {
          margin: 0;
          font-size: 14px;
          padding: 0 16px;
          height: 32px;
          border-radius: 32px;
          width: auto;
          gap: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: solid 1px #28a745;
          background: #fff;
          color: #28a745;
          font-weight: 600;
          img {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
    .scheduleDetails,
    .detailedEmi {
      height: 50vh;
      overflow: auto;
      @media screen and (max-width: 991px) {
        height: auto;
      }
    }
    .detailedEmi {
      .disc {
        opacity: 0.6;
        font-size: 11px;
      }
      .grid {
        display: flex;
        position: relative;
        align-items: center;
        padding: 16px 32px;
        border: solid 1px #01a24c;
        border-radius: 16px;
        justify-content: space-between;
        margin: 32px 0;
        flex-wrap: wrap;
        &.green {
          margin-top: 0;
        }
        &.red {
          border: solid 1px #e21616;
          @media screen and (max-width: 991px) {
            padding-top: 32px;
          }
          @media screen and (max-width: 567px) {
            padding-top: 64px;
          }
          > .note {
            background: #e21616;
            padding: 4px 8px;
            border-radius: 8px;
            margin: 0;
            position: absolute;
            top: 0;
            left: 25px;
            transform: translateY(-50%);
            font-size: 14px;
            color: #fff;
            right: 25px;
            text-align: center;
            line-height: 1.5;
            @media screen and (max-width: 991px) {
              font-size: 12px;
            }
          }
          .small {
            font-size: 12px;
          }
          .val {
            font-size: 16px;
          }
          .red {
            color: #e21616;
            .val {
              font-size: 24px;
            }
          }
        }
        p {
          display: flex;
          flex-direction: column;
          color: #131313;
          gap: 4px;
          .small {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            opacity: 0.7;
          }
          .val {
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }
    .results {
      padding: 30px;
      background: #fff;
    }
  }
  .inputGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
    justify-content: flex-start;
    input,
    textarea,
    select {
      height: 50px;
      padding: 16px;
      background: rgba(0, 0, 0, 0.25);
      color: #fff;
      border: none;
    }
    .flexItLabel {
      display: flex;
      gap: 8px;
      align-items: center;
      input {
        height: 20px;
        width: 20px;
      }
    }
    .flexIT {
      display: flex;
      width: 100%;
      gap: 4px;
      > * {
        flex: 1;
      }
    }
    label {
      width: 100%;
      font-size: 16px;
      font-weight: normal;
    }
  }
}
